@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
}


@media (max-width: 900px) {
    .headerOne {
        font-size: 32px;
    }
    
    .headerTwo {
        font-size: 26px;
    }
    
    .headerThree {
        font-size: 20px;
    }
    
    .body {
        font-size: 14px;
    }
    
    .bodySmall {
        font-size: 12px;
    }
}